<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.min.css">
    <!--FOR DROPDOWN-->
    <link rel="stylesheet" href="../libs/itc/itc-custom-select.css">

    <!--Add flicky-->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</head>
<body>
<header class="header" id="main">
    <div class="header__top">
        <!--logo-->
        <div class="header__logo">
            Super Quiz
        </div>
        <!--menu-->
        <ul class="header__menu" id="navbar">
                <li class="header__menu-item active" ><a href="/">Главная</a></li>
                <li class="header__menu-item" ><a href="#kviz">Квиз</a></li>
                <li class="header__menu-item" ><a href="#cards">Отзывы</a></li>
                <li class="header__menu-item dropdown">
                    <a href="#">Не главная</a>
                        <div class="dropdown-content">
                            <a class="dropdown-content-item" href="#">Подпункт</a>
                            <a class="dropdown-content-item" href="#">Ещё подпункт</a>
                            <a class="dropdown-content-item" href="#">И ещё один подпункт</a>
                        </div>
                </li>
        </ul>
        <!-- feedback-->
        <div class="header__feedback" >
           <!-- feedback button-->
            <div class="header__feedback-button button" >
                Связаться с нами
            </div>
            <!--social media-->
            <div class="header__socialmedia" >
                <div class="header__socialmedia-item header__tik-tok" onclick= "alert('Кнопка нажата')">
                </div>

                <div class="header__socialmedia-item header__vk" onclick= "alert('Кнопка нажата')">
                </div>

                <div class="header__socialmedia-item header__telegram" onclick= "alert('Кнопка нажата')" >
                </div>
            </div>
        </div>
    </div>

    <div class="feedback__popup">
        <div class="feedback__popup-content">

            <div class="form-titles">
                <h3 class="form-title">Заполните контактные данные</h3>
                <p class="form-subtitle">Пройди квиз, и будешь счастлив. Этот квиз предназначен для тех людей, которые любят проходить тесты!</p>
            </div>

            <form class="form-fields" method="post" id="ajax_form" action="#0">
                <div class="form-field">
                    <input type="text" id="first_name" name="first_name" required placeholder=" " pattern="[A-Za-z]{1,15}">
                    <label for="first_name">Ваше имя</label>

                    <!--<div class="requirements">
                        The field can contain uppercase and lowercase letters, up to 15 characters.
                    </div>-->
                </div>

                <div class="form-field">
                    <input type="text" id="last_name" name="last_name" required placeholder=" " pattern="[A-Za-z]{1,15}">
                    <label for="last_name">Ваша фамилия</label>
                   <!-- <div class="requirements">
                        The field can contain uppercase and lowercase letters, up to 15 characters.
                    </div>-->
                </div>

                <div class="form-field">
                    <label for="last_name">Ваш комментарий</label>
                    <input type="text" id="last_name" name="last_name" required placeholder=" " pattern="[A-Za-z]{1,15}">
                  <!--  <div class="requirements">
                        The field can contain uppercase and lowercase letters, up to 15 characters.
                    </div>-->
                </div>

                <p class="form-subtitle">Пройди квиз, и будешь счастлив. Этот квиз предназначен для тех людей, которые любят проходить тесты!</p>

                <div class="form-buttons" >

                    <div class="form_radio_btn">
                        <input id="radio-1" type="radio" name="radio" value="Не знаю " >
                        <label for="radio-1">Не знаю </label>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-2" type="radio" name="radio" value="Увидел это">
                        <label for="radio-2">Увидел это</label>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-3" type="radio" name="radio" value="Вон то">
                        <label for="radio-3">Вон то</label>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-4" type="radio" name="radio" value="Вон то">
                        <label for="radio-4">Вон то</label>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-3" type="radio" name="radio" value="Увидел это">
                        <label for="radio-3">Увидел это</label>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-4" type="radio" name="radio" value="Не знаю ">
                        <label for="radio-4">Не знаю</label>
                    </div>
                </div>

                <button class="form-button" onclick="PopUpHide()">Продолжить</button>
            </form>

        </div>
    </div>

    <div class="header__titles">
        <h1 class="header__titles-title">Это Супер-квиз!</h1>
        <p class="header__title-text">
            Пройди квиз, и будешь счастлив. Этот квиз предназначен для тех людей, которые любят проходить тесты!
        </p>
        <div class="header__title-button button">
            <a href="#kviz">Пройти супер-квиз</a>
        </div>
    </div>

</header>
<section class="smiles">
    <ul class="smiles__menu">
        <li class="smiles__menu-item" >
            <img class="smiles__menu-item-img" src="../images/smiles/smile1.png">
            <span class="smiles__menu-item-text">Восхитительно</span>
        </li>
        <li class="smiles__menu-item" >
            <img class="smiles__menu-item-img" src="../images/smiles/smile2.png">
            <span class="smiles__menu-item-text">Лучше не бывает</span>
        </li>
        <li class="smiles__menu-item" >
            <img class="smiles__menu-item-img" src="../images/smiles/smile3.png">
            <span class="smiles__menu-item-text">В натуре четко!</span>
        </li>
        <li class="smiles__menu-item">
            <img class="smiles__menu-item-img" src="../images/smiles/smile4.png">
            <span class="smiles__menu-item-text">Где найти еще?</span>
        </li>
        <li class="smiles__menu-item">
            <img class="smiles__menu-item-img" src="../images/smiles/smile5.png">
            <span class="smiles__menu-item-text">Круто</span>
        </li>
    </ul>
</section>