@media (max-width: 680px) {

  /* for feedbackend*/
  .feedback__end {
    width: 100vw;
    height: 100vh;
  }

  .feedback__end-content{
    width: 100vw;
    height: auto;
  }

}


@media (max-width: 570px){

  /* for feedbackend*/
  .feedback__end-cross{
    max-width: 48px;
    max-height: 48px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid #000;
    background: #FFF;
    background-image: url("../images/feedback_cross.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .feedback__end-img{
    max-width: 128px;
    max-height: 128px;

  }
  .feedback__end-title {
    font-size: 40px;
  }
  .feedback__end-text{
    font-size: 16px;
  }
  .feedback__end-button{
    font-size: 20px;
  }
}
@media (max-width: 345px){
  .feedback__end-title {
    font-size: 32px;
  }
  .feedback__end-text{
    font-size: 14px;
  }
  .feedback__end-button{
    font-size: 16px;
  }
}
