@media (max-width: 1160px) {
  .header__titles-title{
    font-size: 72px;
  }
  .header__title-text{
    max-width: 490px;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .header__titles-title{
    font-size: 48px;
  }
  .header__title-text{
    max-width: 290px;
    width: 100%;
    font-size: 14px;
  }
}


@media (max-width: 785px) {
  .header__top{
    display: flex;
    gap: 20px;
  }

  .header__logo{
    font-size: 24px;
  }

  div.header__feedback-button{
    font-size: 16px;
  }

  .header__titles-title{
    font-size: 32px;
  }

  .header__title-text{
    max-width: 250px;
    width: 100%;
    font-size: 13px;
  }
}

@media (max-width: 725px) {

  .header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: auto;
    border-radius: 0 0 32px 32px;
    background: url(../images/adaptiv_bg_left.png) no-repeat 0% 203px,url(../images/adaptiv_bg_right.png) no-repeat 100% 143px,#fff;
    position: relative;
  }

  .header__top{
    margin: 0;
    padding: 0 15px;
    display: flex;
  }
  .header__feedback{
    display: flex;
    gap: 16px;
  }

  .header__titles{
    margin-top: 30px;
  }
  .navbar-menu{
    position: relative;
  }
  .hamburger{
    position: absolute;
    top: -15px;
    left: -15px;
  }
}

@media (max-width: 570px) {
  .header__top{
    padding-left: 15px;
    display: flex;
    justify-content: stretch;
  }

  .header__feedback-button{
    visibility: hidden;
  }
  .header__header__socialmedia{
    padding-left: 50px;
  }
  .header__titles{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 110px;
  }

  .header{
    background: url(../images/adaptiv_bg_left.png) no-repeat 0% 312px,url(../images/adaptiv_bg_right.png) no-repeat 100% 255px,#fff;
  }

  .hamburger{
    position: absolute;
    top: -15px;
    left: 0;
  }
}
@media (max-width: 470px) {
  .header__titles{
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
    padding-bottom: 110px;
  }
  .header__title-text{
    text-align: left;
  }
}

@media (max-width: 357px) {
  .header__title-button{
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .header__title-button{
    font-size: 10px;
  }
  .header__titles{
    display: flex;
    gap: 15px;
  }
  .header__titles{
    margin-top: 15px;
  }
  .header__title-text{
    text-align: left;
  }
}