
.cards__menu-item {
  margin-right: 10px;
  width: 352px;
  height: 464px;
  display: flex;
  padding: 170px 8px 8px 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 32px;
}
.cards__menu-item1{
  background: center / cover no-repeat  url('../images/users_bg/user_bg1.png');
}
.cards__menu-item2{
  background: center / cover no-repeat  url('../images/users_bg/user_bg2.png');
}
.cards__menu-item3{
  background: center / cover no-repeat  url('../images/users_bg/user_bg3.png');
}
.cards__menu-item4{
  background: center / cover no-repeat  url('../images/users_bg/user_bg4.png');
}

.users {
  position: relative;
  padding: 58px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 24px;
  background: #FFF;
}

.users-photo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -45px;
  width: 128px;
  height: 96px;
  background: center / contain no-repeat url('../images/user_bg.svg');
}

.users-photo__img{
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.users-name {
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

.users-text {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}

/*delete dots*/
.flickity-page-dots{
  display: none;
}

/*delete default svg*/
.flickity-button-icon{
  display: none;
}

.flickity-prev-next-button.next{
  width: 170px;
  height: 170px;
  background: center / contain no-repeat url("../images/next.svg") !important;
}

.flickity-prev-next-button.previous{
  width: 170px;
  height: 170px;
  background: center / contain no-repeat url("../images/previous.svg") !important;
}

.gallery {
  margin: 100px 0;
  background: #EEE;
}

.carousel-cell {
  width: 352px;
  height: 464px;
  margin-right: 10px;
  counter-increment: carousel-cell+3;
}
@media screen and ( min-width: 768px ) {
  .carousel-cell {
    aspect-ratio: 3/ 4;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    aspect-ratio: 3/4;
  }
}
@media screen and ( min-width: 1120px ) {
  .carousel-cell {
    aspect-ratio: 3/4;
  }
}