.kviz {
  margin-top: 90px;
  margin-bottom: 60px;
}
.kviz__outer{
  display: flex;
  gap: 8px;
}

.kviz__popup {
  align-self: flex-start;
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px 48px 10px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
  background: #000;
}

.kviz__popup-question {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

.kviz__popup-answer {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}

.kviz__shadow1{
  top: -290px;
  left: 310px;
  position: absolute;
  width: 498px;
  height: 1064px;
  transform: rotate(-90deg);
  border-radius: 32px;
  background: #E9C4FF;
  z-index: -1;
}
.kviz__shadow2{
  top: -267px;
  left: 310px;
  position: absolute;
  width: 506px;
  height: 1008px;
  transform: rotate(-90deg);
  border-radius: 32px;
  background: #F0D9FF;
  z-index: -2;
}
.kviz__inner {
  position: relative;
  width: 1112px;
  height: 634px;
  border-radius: 32px;
  background: #FFF;
/*  box-shadow: 48px -16px #F0D9FF,
  24px -8px #E9C4FF,*/
}

.kviz__box{
  margin: 48px 32px 32px 32px;
}

.kviz__title {
  width: 1048px;
  color: #000;
  font-family: 'Neue Machina', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
}

.kviz__text {
  margin-top: 24px;
  width: 700px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.kviz__menu {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.kviz__menu-item {
  display: flex;
  padding: 8px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #000;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.selected{
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  border: 2px solid #000;
  background: #000;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

li.selected::before{
  content: '';
  background-color: #fff;
  background-image: url("../images/close_icon.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.kviz__btn {
  margin-top: 64px;
  display: flex;
  padding: 12px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: #000;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
