/*Main style file*/

/*Connecting fonts*/
@font-face {
  font-weight: 500; /* Medium */
  font-family: 'Raleway', sans-serif;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-display: optional;
}
@font-face {
  font-weight: 600; /* SemiBold*/
  font-family: 'Raleway', sans-serif;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-display: optional;
}
@font-face { /*Bold */
  font-weight: 700;
  font-family: 'Neue Machina', sans-serif;
  src: url("../fonts/NeueMachina-Bold.woff2") format("woff2");
  font-display: optional;
}
@font-face { /*UltraBold */
  font-weight: 800;
  font-family: 'Neue Machina', sans-serif;
  src: url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2");
  font-display: optional;
}

/*main styles*/
body{
  background: #F9EFFF;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100%;
  display: grid;
  justify-content: space-around;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
/*  padding: 0 15px;*/
}
.button:hover{
  transition: 0.15s ease;
  background: #9E00FF;
  cursor: pointer;
}
